[flake8]
# General settings
ignore =
    E203,
    E501,
    W503,
max-line-length = 88
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    .tox,
    docs,
    tests/fixtures/*,
    *.egg-info,
    .eggs

per-file-ignores =
    __init__.py: F401

max-complexity = 10

select = B, C, E, F, W, B9
